.Brush {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: inherit;

  transform: translate(-50%, -50%);

  position: absolute;

  opacity: 1;

  transition: opacity .1s;

  &.default, &.selector {
    background: none;
    border-width: 3px;
    border-style: solid;
  }

  &.default {
    border-color: #000;
    box-shadow:
      0 0 2px 3px rgba(#000, .1),
      inset 0 0 5px 3px rgba(#000, .3);
  }

  &.selector {
    width: 390px;
    height: 390px;

    background-color: #000;

    border: none;
    //border-width: 2px;

    box-shadow: inset 0 0 50px 5px rgba(#fff, .8);

    transition: width .08s, height .08s, background-color .1s !important;
  }

  &.off {
    opacity: 0;
  }
}